html {
    font-family: "Victor Mono";
    font-weight: 700;
    font-size: 1.2rem;
    color: #aaa;
    background-color: #121212;
}

input {
    color: #aaa;
    background-color: #000;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Victor Mono";
    font-weight: 700;
    padding: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border: 1px solid #aaa;
    border-radius: 1rem;
}

.text_center {
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

table {
    border-spacing: 0.2rem;
}

td {
    font-size: 2rem;
    padding: 0.8rem;
    border: 3px solid #aaa;
    border-radius: 1rem;
    text-align: center;
    width: 100px;
    height: 60px;
}

.layer {
    color: #000;
    background-color: #aaa;
}

.space {
    border: none;
}
